<h1>About</h1>

<h3>Here is some info:</h3>

<img src="/images/JSS.jpg" alt="Sargent picture" style="width: 250px"/>

<p>John Singer Sargent was an American expatriate artist, considered the "leading portrait painter of his generation" for his evocations of Edwardian-era luxury. He created roughly 900 oil paintings and more than 2,000 watercolors, as well as countless sketches and charcoal drawings.</p>
<br />
<ul>
    <li>Born: 1856 in Florence, Italy</li>
    <li>Died: 1925 in London, UK</li>
    <li>Education: École nationale supérieure des Beaux-Art</li>
</ul>

<img src="/images/venice.jpg" alt="Venice picture" style="width: 700px" />
