<h1>Works</h1>
<h2>Here are some paintings by John Singer Sargent</h2>

<img src="/images/Morning-Walk.jpg" alt="Portrait picture" style="width: 400px;"/>

<img src="/images/sitting.jpg" alt="Portrait picture" style="width: 400px;"/>

<img src="/images/pearls.jpg" alt="Portrait picture" style="width: 400px;"/>

<img src="/images/water.jpg" alt="Portrait picture" style="width: 600px;"/>

<img src="/images/venice.jpg" alt="Portrait picture" style="width: 600px;"/>
